<a href="https://colab.research.google.com/github/dmorton714/Code-You_assginments/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

- [Variables](#Variables)
- [Data Types](#Data_Types)
- [Conditionals](#Conditionals)
- [Links](#Links)

<a id="Variables"></a>
## Variables

In the code block below assign 40 to A.
<br>
Run the cell to verify your work.

Now assign 60 to B.
<br>
Run the cell to verify your work.

We have now defined 2 variables. We have assigned values for A and B.
<br>
Now we are going to do some basic math. 
- Add the 2 variables together and run the cell.

**Inside a notebook you don't have to use the print function. You can just add the variables and run the cell**

100

Now let's subtract the 2 variables and run the cell.

-20

In python code reads top to bottom and left to right. So if we reassign B to 40 it will be 40 until we change it to something else.

*This means it's important to name variables with good names so you don't reuse them.*


---

<a id="#Data_Types"></a>
## Data Types

| Example	| Data Type	|
| --- | ---|
| x = "Hello World"	| str |
| x = 20	| int |
| x = 20.5 | float |
| x = ["apple", "banana", "cherry"] | list |
| x = ("apple", "banana", "cherry") | tuple |
| x = range(6) | range |
| x = {"name" : "John", "age" : 36} | dict |
| x = True | bool |

By default python will make an attempt to assign the proper data type to a value. 
It doesn't always get it right, so in good practice you can assign the type when you define the variable.
<br>
<br>
- Assign A as an int with the value of 40.
- You assign types by using the type and parentheses
- Here we will use `int()`
- you put your value inside the parentheses

we will use the `type()` function to verify we did it correctly.

int

Using what we learned: 
- convert B to a float and assign its value to 60.
- print the B to see if it looks different

<class 'float'>

Now use the type function again to verify its type.

Let's now add A and B together. 

But do this by assigning A+B to the variable C.

100.0

Let's also get the returned type of C.

<class 'float'>

As you can see it's a float python did the work for us on assigning its type based on the variables. If we wanted an `int` returned we would need to assign it.


---

<a id="Conditionals"></a>
## Conditionals

| Conditional | Example |
| :--- | --- |
|Equals: | a == b |
|Not Equals: | a != b |
|Less than: | a < b |
|Less than or equal to: | a <= b |
|Greater than: | a > b |
|Greater than or equal to: | a >= b |

Conditionals will be important in the Data Analytics aspect. We will get started with some basic conditionals using our variables from above.

In [13]:
if A > B:
  print("A is greater than B")

Notice we did **not** get an error message because B is greater than A.
<br>
<br>
A = 40
<br>
B = 60
<br>
<br>
Use the same code as above and flip the variables. Be sure to edit the print statement to make it correct.

B is greater than A

To be more efficient we can combine them into one code block.  

-So let's add an `else:` condition to do this in one block of code.

B is greater than A

This is a step up but, what happens if A and B are the same value? 
- Lets correct our code by covering that hole. 
- We will add a `elif A == B:` condition between the `if` and `else:`

B is greater than A

**This will verify your work and tell you if you have errors in your code.**

'B is greater than A'

Let's put everything we learned together:
- Define a value the variables **X** & **Y**
- Make sure they are assigned as an `int`
- Then replicate the if, elif, and else statement
- Once you have it working, change the values of **X** & **Y** to verify your code is working correctly.

X is equal to Y

<a id="Links"></a>
## Links

[Variables](https://www.w3schools.com/python/python_variables.asp)
<br>
[Data Types](https://www.w3schools.com/python/python_datatypes.asp)
<br>
[Conditions](https://www.w3schools.com/python/python_conditions.asp)

## What we learned recap

Variables, data types, and conditionals are fundamental concepts in Python programming that serve as building blocks for more advanced tasks, including data analytics. Here's a brief overview of why these concepts are important and how they relate to learning data analytics:

- Variables: Variables are used to store and manipulate data in a program. They provide a way to label and reference values or objects, making it easier to work with data. In data analytics, variables are essential for storing datasets, intermediate results, and analysis outputs. Understanding variables allows analysts to organize and manage data effectively during the analysis process.

- Data Types: Python supports various data types, including integers, floats, strings, lists, tuples, dictionaries, and more. Each data type has unique properties and behaviors, enabling programmers to represent different kinds of information. In data analytics, knowing how to work with different data types is crucial for processing and analyzing diverse datasets. For example, numeric data types are used for quantitative analysis, while string and categorical data types are common in text analysis and classification tasks.

- Conditionals: Conditionals, such as if statements and loops, allow programmers to control the flow of execution based on specified conditions. They enable decision-making and branching in code, allowing different actions to be taken depending on the circumstances. In data analytics, conditionals are used to implement logic for data filtering, ect.

Understanding variables, data types, and conditionals in Python lays the groundwork for proficiency in data analytics. Aspiring data analysts can leverage these concepts to manipulate datasets, perform data cleaning and preprocessing, and extract insights from data.



---

# END



---